body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: darkgrey;
}

.header{
  background-color: goldenrod;
  align-items: center;
}
.navContainer{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: normal;
}
.nav{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.nav__li{
    align-items: center;
    border: .25rem solid white;
    border-radius: .5rem;
    display: flex;
    font-size: 1.25rem;
    flex-direction: column;
    justify-content: space-between;
    margin: 5%;
    padding: 2.5% 0;
    width: 25%;
}
.errorContainer{
  background-color: deeppink;
  text-decoration: underline;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}





code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
